.home-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

.day-holder {
  margin-left: 3px;
  font-size: 17px;
  font-weight: 800;
  color: grey;
}

.action-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 4px;
    align-items: flex-end;
    padding-bottom: 10px;
}
