<div ngClass="home-container">
  <mat-toolbar [attr.role]="'heading'" color="white">
    <span>Random Stock Performance Generator</span>
  </mat-toolbar>
  <app-spinner [isLoad]="loading"></app-spinner>
  <div [style.display]="display">
    <div [ngClass]="'action-nav'">
      <div [ngClass]="'day-holder'">Day {{ curDay }}</div>
      <button
        mat-mat-icon-button
        (click)="generateRandomChange($event)"
        color="primary"
        aria-label="icon button with a navigate icon"
      >
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <app-stock-table
      [tableData]="stockData"
      [curDay]="curDay"
      [date]="date"
    ></app-stock-table>
  </div>
  <div *ngIf="error"><b>{{ error }}</b></div>
</div>
