.table, table {
  width: 100%;
  overflow-x: auto;
}
.date-holder {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bolder;
  color: dimgray;
  margin-left: 3px;
}
.trending_up {
  color: green;
}
.trending_down {
  color: red;
}
.percent {
  min-width: 40px;
  display: inline-block;
}
