<div>
  <table mat-table [ngClass]="'mat-elevation-z8'" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
      <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Starting</th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="newprice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Value</th>
      <td mat-cell *matCellDef="let element"> {{element.newprice}} </td>
    </ng-container>

    <ng-container matColumnDef="changePercent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Percent</th>
      <td mat-cell *matCellDef="let element"> <span ngClass="percent">{{element.changePercent}}% </span>
        <mat-icon color="danger" [ngClass]="getTrend(element.changePercent)">
          {{getTrend(element.changePercent)}}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="change">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Change</th>
      <td mat-cell *matCellDef="let element"> {{element.change}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols;"></tr>


  </table>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  <div [ngClass]="'date-holder'">Stock data as of {{date}}</div>
</div>
